<h1>Stack Guesser</h1>


<h3>
    To play, expand a coding question below. Then, read some answers that people have proposed to the question.
    Click the "Guess Answer" button next to the answer you think was accepted, and a badge will show up to see
    if you were correct!
    Feel free to keep guessing until you get it right ;)
</h3>

</br>
<%if (!items || items.length<1){%>
    <h2>No recent questions - try again later!</h2>

    <%}%>